﻿@{
    ViewBag.Title = "About";
}
<h2>Welcome to the HRManager application for infoTECH IT.</h2>

<p>This application uses the following key technologies:</p>
<ul>
    <li>.NET Framework 4.7.2</li>
    <li>MVC 5</li>
    <li>Automapper 9.0.0</li>
    <li>Bootstrap 4.4.1</li>
    <li>Entity Framework 6.4.0</li>
    <li>jQuery 3.4.1</li>
    <li>NUnit 3.12.0</li>
    <li>Unity 5.11.1</li>
</ul>

<p>Below is a snapshot of the solution</p>
<img src="~/Content/about/Solution.PNG" />
<br />
<br />
<p>It is broken up into 4 projects:</p>
<ul>
    <li>HRManager.Common - Shared classes</li>
    <li>HRManager.Data - Data Access (entities, services, dbContext)</li>
    <li>HRManager.Tests - NUnit Tests</li>
    <li>HRManager.Web - HRManager web application</li>
</ul>