﻿@model IEnumerable<HRManager.Data.Models.Employee>

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>HR Manager</h1>
        <div>There are currently @Model.Count() employees in this company.</div><br/>
        <div>To get starting managing employees, click the Employees link in the menu.</div>
    </div>
