﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="min-vh-100">
    <header>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <span class="logo-1">infoTECH</span><span class="logo-2">IT</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        @Html.ActionLink("Employees", "Index", "Employees", null, new { @class = "nav-item nav-link" })
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-item nav-link" })
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main role="main" class="container flex-fill">
        @RenderBody()
    </main>
    <footer class="mt-3">
        <div class="container"><small>&copy; Copyright 2019, Vincenzo Piscitelli</small></div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
