﻿@model HRManager.Web.Models.EmployeeViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Employee</h2>
<hr />

<div class="alert alert-warning">
    <div class="row">
        <!-- add no-gutters to make it narrower -->
        <div class="col-auto align-self-start">
            <!-- or align-self-center -->
            <i class="fa fa-exclamation-circle fa-2x"></i>
        </div>
        <div class="col align-self-center">
            <span>Are you sure you want to delete this Employee?</span>
        </div>
    </div>
</div>
<div class="mt-3">
    <dl class="row">
        <dt class="col-lg-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd class="col-lg-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-lg-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd class="col-lg-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-lg-3">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>

        <dd class="col-lg-9">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>

        <dt class="col-lg-3">
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd class="col-lg-9">
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("< Back to Employee Directory", "Index")
</div>
