﻿@model HRManager.Web.Models.EmployeeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>
<hr />

<dl class="row">
    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>

    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.FirstName)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.Initial)
    </dt>

    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.Initial)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>

    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.AddressLine1)
    </dt>
    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.AddressLine1)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.AddressLine2)
    </dt>
    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.AddressLine2)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.City)
    </dt>
    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.City)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.Province)
    </dt>
    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.Province)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.PostalCode)
    </dt>
    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.PostalCode)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.HomePhone)
    </dt>
    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.HomePhone)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.WorkPhone)
    </dt>
    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.WorkPhone)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.CellPhone)
    </dt>

    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.CellPhone)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.EmailAddress)
    </dt>

    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.EmailAddress)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.Position)
    </dt>

    <dd class="col-lg-9">
        @Html.DisplayFor(model => model.Position)
    </dd>

    <dt class="col-lg-3">
        @Html.DisplayNameFor(model => model.ReportsToId)
    </dt>

    <dd class="col-lg-9">
        @($"{Model.ReportsTo.FirstName} {Model.ReportsTo.LastName}")
    </dd>

</dl>
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })" role="button">Edit</a>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-3">
        @Html.ActionLink("< Back to Employee Directory", "Index")
    </div>
</div>
