﻿@model IEnumerable<HRManager.Web.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Directory</h2>

<p>
    <a href="@Url.Action("Create")"><i class="fa fa-user-plus fa-fw"></i>&nbsp;Add New Employee</a>
</p>

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card bg-light" style="min-width: 20rem; max-width: 20rem; margin-bottom: 30px;">
            <div class="card-header">@Html.DisplayFor(modelItem => item.Position)</div>
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.FullName)</h5>
                <p class="card-text">
                    <dl class="row">
                        <dt class="col-lg-12">@Html.DisplayNameFor(model => model.DateJoined)</dt>
                        <dd class="col-lg-12">@Html.DisplayFor(modelItem => item.DateJoined)</dd>

                        <dt class="col-lg-12">@Html.DisplayNameFor(model => model.ReportsToId)</dt>
                        <dd class="col-lg-12">@($"{item.ReportsTo.FirstName} {item.ReportsTo.LastName}")</dd>
                    </dl>
                </p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <a href="@Url.Action("Edit", new {id=item.Id})">Edit </a>|
                        <a href="@Url.Action("Details", new {id=item.Id})">Details </a>|
                        <a href="@Url.Action("Delete", new {id=item.Id})">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>