﻿
@{
    ViewBag.Title = "NotFound";
}

<div class="alert alert-warning">
    <div class="row">
        <!-- add no-gutters to make it narrower -->
        <div class="col-auto align-self-start">
            <!-- or align-self-center -->
            <i class="fa fa-exclamation-circle fa-2x"></i>
        </div>
        <div class="col align-self-center">
            <span>The employee does not exist!</span>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("< Back to Employee Directory", "Index")
</div>
