﻿@font-face {
    font-family: 'Montserrat-Thin';
    src: url('fonts/Montserrat-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat-Medium.otf') format('opentype');
}

body {
    font-family: Montserrat-Medium, Helvetica, Arial, sans-serif;
}

.logo-1 {
    font-family: Montserrat-Thin;
    font-size: 3em;
    color: white;
}

.logo-2 {
    font-family: Montserrat-Thin;
    font-size: 3em;
    color: rgb(255, 104, 54);
    padding-right: 10px;
}

@media (min-width: 768px) {
    .navbar-brand {
        border-right: 1px solid lightgrey;
    }
}

.navbar {
    font-family: Montserrat-Medium;
}

.flex-fill {
    flex:1 1 auto;
}